<% provide(:title, 'About Us') %>
<div class="col-md-12 container">
  <div class="col-md-4"></div> <!-- For centering the sign-in form -->
  <div class="col-md-4">

    <%= form_for(:about, url: about_path) do |f| %>

      <h2 class="form-signin-heading">Data Request</h2>
      
      <%= f.password_field :password, class: "form-control", placeholder: "Password", required: "autofocus" %>

      <%= f.submit "Submit", class: "btn btn-lg btn-default btn-block"%>

    <% end %>
  </div>
  <div class="col-md-4"></div> <!-- For centering the sign-in form -->
</div>