<% provide(:title, 'Complete') %>
<div class="container">
	<div class="jumbotron">
	  <h1>Survey Complete!</h1>
		<div class="container">
		  <p>Thank you for completing our brief survey and submitting your valuable feedback. Your confidential answers will help improve efforts and better tailor the training we offer you.

		  If you wish to go back and change any answers, you may do so.</p>
	  </div>
	</div>
</div>