<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>
      Intel Corporation - Best Companies to Work For 2013 - Fortune
    </title>
<link rel="">
<link rel="canonical" href="/magazines/fortune/best-companies/2013/snapshots/68.html">
<meta name="title" content="100 Best Companies to Work For 2013 - Intel Corporation - Fortune">
<meta name="description" content="Intel Corporation was ranked 68 in Fortune&#226;&#196;&#244;s annual Best Companies to Work For in 2013. See who else made the list.">
<meta name="keywords" content="Intel Corporation,, Best Companies, Best Companies to Work For, Fortune, top 100 employers, top employers, top companies">
<meta property="og:title" content="100 Best Companies to Work For 2013 - Intel Corporation - Fortune">
<meta property="og:type" content="article">
<meta property="og:url" content="http://archive.money.com/magazines/fortune/best-companies/2013/snapshots/68.html">
<meta property="og:image" content="/assets/i2.cdn.turner.com/money/.element/img/1.0/sections/mag/fortune/bestcompanies/2013/snapshots/intel.jpg">
<meta property="og:site_name" content="fortune">
<meta property="og:description" content="Intel Corporation was ranked 68 in Fortune&#226;&#196;&#244;s annual Best Companies to Work For in 2013. See who else made the list.">
<meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link href="http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic" rel="stylesheet" type="text/css">
<meta name="twitter:site" content="@FortuneMagazine">
<meta property="fb:app_id" content="381685278607014">
<!-- Error --><link rel="stylesheet" href="/assets/i.cdn.turner.com/money/.element/ssi/sections/mag/fortune/bestcompanies/2013/uniform.default.css" type="text/css" media="screen">
<!--Styles that came after launch that will need to be packaged --><link rel="stylesheet" href="/assets/i.cdn.turner.com/money/.element/ssi/css/3.0/maglists/bestcompanies.2013.supp.css" type="text/css" media="screen">
<script type="text/javascript" src="/assets/z.cdn.turner.com/money/.e/script/2.0/pkg/cnnmoney.main/1165.js">
</script><script type="text/javascript" src="/assets/z.cdn.turner.com/money/.e/script/jquery/1.5.1/jquery.js">
</script><script type="text/javascript">
//<![CDATA[
    var cnnmCommentId = "bestcos210368";

    var cnntweetDesc = ".@intel is ranked #68 on @FortuneMagazine's #BestCos list! Learn why here: ";
        
    //]]>
    </script><style type="text/css">
/*<![CDATA[*/

    #fortune_current_issue{
        background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    position: relative;
    width:336px;
    }
    #fortune_current_issue .fortune_current_issue_wrapper{
        padding:15px;
    }
    #fortune_current_issue .issue{
        float:left;
        width:160px;
    }
    #fortune_current_issue .summaryTxt{
        float:left;
        width:140px;
    }
    #fortune_current_issue .summaryTxt ul li {
    list-style: square outside none;
    padding: 5px 0;
    }
    #fortune_current_issue .summaryTxt .cnnHeadline {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    }
    #fortune_current_issue .summaryTxt ul {
    margin-left: 10px;
    padding-left: 5px;
    }
    #fortune_current_issue .flyout ul {
    padding: 5px 0 0 13px;
    list-style: none outside none;
    }
    /*]]>*/
    </style>
<script type='text/javascript'>var _sf_startpt=(new Date()).getTime()</script>
<meta name="viewport" content="width=device-width" />
<title>Fortune</title>
<link rel="profile" href="http://gmpg.org/xfn/11" />
<link rel="stylesheet" type="text/css" media="all" href="http://fortunedotcom.wordpress.com/wp-content/themes/vip/fortune/style.css" />
<link rel="pingback" href="http://fortunedotcom.wordpress.com/xmlrpc.php" />
<link rel='stylesheet' id='base-css'  href='http://fortunedotcom.wordpress.com/wp-content/themes/vip/fortune/static/stylesheets/base.css?ver=1.0.00' type='text/css' media='all' />
<link rel='stylesheet' id='mobile-css'  href='http://fortunedotcom.wordpress.com/wp-content/themes/vip/fortune/static/stylesheets/mobile.css?ver=1.0.00' type='text/css' media='(max-width: 800px)' />
<link rel='stylesheet' id='tablet-css'  href='http://fortunedotcom.wordpress.com/wp-content/themes/vip/fortune/static/stylesheets/tablet.css?ver=1.0.00' type='text/css' media='(min-width: 800px) and (max-width: 1024px)' />
<link rel='stylesheet' id='desktop-css'  href='http://fortunedotcom.wordpress.com/wp-content/themes/vip/fortune/static/stylesheets/desktop.css?ver=1.0.00' type='text/css' media='(min-width: 1024px)' />
<link rel='stylesheet' id='archive-css'  href='/assets/fortune/archive.css' type='text/css' media='all' />
<script type='text/javascript' src='http://fortunedotcom.wordpress.com/wp-includes/js/jquery/jquery.js?ver=1.10.2'></script>
<script type='text/javascript' src='http://fortunedotcom.wordpress.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<script type='text/javascript' src='http://tiads.fortune.com/ads/tgx.js?ver=1.0'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://fortunedotcom.wordpress.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://fortunedotcom.wordpress.com/wp-includes/wlwmanifest.xml" />
<script type="text/javascript">
  var TGX_SITE_CONFIG = {'gpt_sync_mode': 'async'};
</script>
<script src="http://tiads.fortune.com/ads/tgx.js"></script>
<script type="text/javascript">
  var adConfig = new TiiAdConfig('3475.fort');
  adConfig.setCmSitename('cm.fort');
  var adFactory = new TiiAdFactory(adConfig, "leadership");
  adFactory.setChannel("leadership");
</script>

</head>
<body class="list-page snapshot-page">
<!-- header items (includes super-header and main-header) -->

<header class="main-header" role="banner">
	<div class="main-header-inner">
		<div class="logo-container">
			<div class="site-nav-toggle" aria-hidden="true">
			</div>
			<span class="screen-reader-text">Main Menu</span>
			<h1 class="main-logo"><a href="http://www.fortune.com">Fortune</a></h1>
		</div>
		<div class="header-right-wrapper">
			<div class="header-right">
				<div class="ticker-container"></div>
			</div>
		</div>
	</div>
</header>

<nav class="site-nav">
	<div class="site-nav-section">
		<form class="site-nav-search site-search">
			<input type="text" class="site-search-input" id="site-search-input" placeholder="Quotes, Companies, Keywords">
			<button class="site-search-submit icon icon-search" type="submit" aria-hidden="true"></button>
			<span class="screen-reader-text">Search</span>
		</form>
	</div>
	<div class="site-nav-section">
		<a href="#subscribe" class="site-nav-signin">Sign In</a>
	</div>

	<div class="site-nav-content"><!-- site nav rankings, section, tag lists loaded here --></div>

</nav>

<!-- end header items -->
<script type="text/javascript">
  document.write('<script type="text\/javascript">adFactory.getAd(728, 90).write();<\/script>');
</script>
    
    <div id="cnnBody">
      <div id="adBanner">
        
      </div>
      <div class="cnnCol_main">
        <div id="snapTop" class="brdrMod">
          <div id="listTitleHeader">
            <div class="navSelect">
              <select class="bestCosSmDrop" id="bestCosNavYr" onchange="if (this.options[selectedIndex].value != '') top.location.href=this.options[selectedIndex].value"><option value="/magazines/fortune/best-companies/" selected>
                  2013
                </option>
<option value="/magazines/fortune/best-companies/2012/">
                  2012
                </option>
<option value="/magazines/fortune/bestcompanies/2011/index.html">
                  2011
                </option>
<option value="/magazines/fortune/bestcompanies/2010/index.html">
                  2010
                </option>
<option value="/magazines/fortune/bestcompanies/2009/index.html">
                  2009
                </option>
<option value="/magazines/fortune/bestcompanies/2008/index.html">
                  2008
                </option>
<option value="/magazines/fortune/bestcompanies/2007/index.html">
                  2007
                </option>
<option value="/magazines/fortune/bestcompanies/2006/index.html">
                  2006
                </option></select>
</div>
            <div class="snapCmmtCount">
              <a class="cm" href="/magazines/fortune/best-companies/2013/snapshots/68.html#disqus_thread"></a>&#160;<a href="#comments">comments</a>
            </div>
            <div class="fortLogo"></div>
            <div class="listTitle">
              <a href="/magazines/fortune/best-companies/">100 Best Companies to Work For</a>
            </div>
            <div class="socialMediaToolbarContainer"></div>
          </div>
          <div class="snapCount">
            68 of 100
          </div>
          <div class="clearFloat"></div>
          <div class="companyName">
            Intel Corporation
          </div>
          <div class="snapNavBtnBin">
            <a href="67.html" class="backBtn">BACK</a> <a href="69.html" class="nextBtn">NEXT</a>
          </div>
          <div class="clearFloat"></div>
          <div class="snapImg">
            <img src="/assets/i2.cdn.turner.com/money/.element/img/1.0/sections/mag/fortune/bestcompanies/2013/snapshots/intel.jpg" width="340" height="255" border="0" alt="Intel Corporation"><div class="snapImgCir">
              68
            </div>
          </div>
          <div class="snapUniqueData">
            <strong>Rank</strong>: 68<br><strong>Previous rank</strong>: 46<br><strong>2011 revenue ($ millions)</strong>: $54,000<br><div class="snapBlurb">
              <p>
                <strong>What makes it so great?</strong><br>
                The chipmaker offers $50,000 for tuition reimbursement, on-site medical care, and an eight-week paid sabbatical every seven years, taken last year by 4,067 employees.
              </p>
            </div>
            <p>
              <b>Headquarters:</b><br>
              Santa Clara, CA<br>
              Website: <a href="http://www.intel.com" target="new">www.intel.com</a>
            </p>
          </div>
          <div class="clearFloat"></div>
          <div class="snapNavBtnBin bottom">
            <a href="67.html" class="backBtn">BACK</a> <a href="69.html" class="nextBtn">NEXT</a>
          </div>
        </div>
        <div class="clearFloat"></div>
        <div id="linkedin_container">
          <div class="linkedin_hedFG">
            Network with Intel
          </div>
          <div class="linkedin_adTopFG">
            
          </div>
          <div class="linkedin_genCont">
            <div class="linkedin_box">
              <script type="in/companyinsider" data-id="intel-corporation" data-modules="innetwork,newhires,jobchanges" data-provider="cnn">
</script>
</div>
          </div>
        </div>
        <div id="quigo628">
          
        </div>
        <div class="snapDataTables brdrMod">
          <div class="well">
            <div class="list-group">
              <h2>Employees</h2>
            </div>
            <div class="list-group-item">
              <div class="list-group-item-heading">
                <h4>U.S. employees</h4>
              </div>
              <div class="list-group-item-text">
                48,350
              </div>
            </div>
            <div class="list-group-item">
              <div class="list-group-item-heading">
                <h4>Employees outside U.S.</h4>
              </div>
              <div class="list-group-item-text">
                44,516
              </div>
            </div>
          </div>
          <div class="well">
            <div class="list-group">
              <h2>Jobs</h2>
            </div>
            <div class="list-group-item">
              <div class="list-group-item-heading">
                <h4>New jobs (1 year)</h4>
              </div>
              <div class="list-group-item-text">
                3,968
              </div>
            </div>
            <div class="list-group-item">
              <div class="list-group-item-heading">
                <h4>% job growth (1 year)</h4>
              </div>
              <div class="list-group-item-text">
                9%
              </div>
            </div>
            <div class="list-group-item">
              <div class="list-group-item-heading">
                <h4>% voluntary turnover</h4>
              </div>
              <div class="list-group-item-text">
                2%
              </div>
            </div>
            <div class="list-group-item">
              <div class="list-group-item-heading">
                <h4>Applicants</h4>
              </div>
              <div class="list-group-item-text">
                131,500
              </div>
            </div>
            <div class="list-group-item">
              <div class="list-group-item-heading">
                <h4>Job openings <span class="cnnsnap</h4>JobDate">(as of 1/2/13)</span>
              </div>
              <div class="list-group-item-text">
                1,400
              </div>
            </div>
          </div>
          <div class="well">
            <div class="list-group payRow">
              <div class="list-group-item-heading">
                <h4>Pay</h4>
              </div>
              <div class="list-group-item-text">
                Avg. annual pay*
              </div>
            </div>
            <div class="list-group-item">
              <div class="list-group-item-heading">
                <h4>Most common job (salaried):<br></h4>
                Component Design Engineer
              </div>
              <div class="list-group-item-text">
                $136,893
              </div>
            </div>
            <div class="list-group-item">
              <div class="list-group-item-heading">
                <h4>Most common job (hourly):<br></h4>
                Manufacturing Technician
              </div>
              <div class="list-group-item-text">
                $66,159
              </div>
            </div>
          </div>
          <div class="well">
            <div class="list-group">
              <h2><a href="/magazines/fo</h2>rtune/best-companies/2012/benefits/">Benefits</a>
            </div>
            <div class="list-group-item">
              <div class="list-group-item-heading">
                <h4>Fully paid sabbaticals</h4>
              </div>
              <div class="list-group-item-text">
                Yes
              </div>
            </div>
            <div class="list-group-item">
              <div class="list-group-item-heading">
                <h4>Onsite child care</h4>
              </div>
              <div class="list-group-item-text">
                No
              </div>
            </div>
          </div>
          <div class="well">
            <div class="list-group">
              <h2>Health</h2>
            </div>
            <div class="list-group-item">
              <div class="list-group-item-heading">
                <h4>100% health-care coverage</h4>
              </div>
              <div class="list-group-item-text">
                No
              </div>
            </div>
            <div class="list-group-item">
              <div class="list-group-item-heading">
                <h4>Onsite fitness center</h4>
              </div>
              <div class="list-group-item-text">
                Yes
              </div>
            </div>
            <div class="list-group-item">
              <div class="list-group-item-heading">
                <h4>Subsidized gym membership</h4>
              </div>
              <div class="list-group-item-text">
                No
              </div>
            </div>
          </div>
          <div class="well">
            <div class="list-group">
              <h2>Work-life</h2>
            </div>
            <div class="list-group-item">
              <div class="list-group-item-heading">
                <h4>Job sharing program</h4>
              </div>
              <div class="list-group-item-text">
                Yes
              </div>
            </div>
            <div class="list-group-item">
              <div class="list-group-item-heading">
                <h4>Compressed workweek</h4>
              </div>
              <div class="list-group-item-text">
                Yes
              </div>
            </div>
            <div class="list-group-item">
              <div class="list-group-item-heading">
                <h4>Telecommuting</h4>
              </div>
              <div class="list-group-item-text">
                Yes
              </div>
            </div>
          </div>
          <div class="well">
            <div class="list-group">
              <h2>Diversity</h2>
            </div>
            <div class="list-group-item">
              <div class="list-group-item-heading">
                <h4>% minorities</h4>
              </div>
              <div class="list-group-item-text">
                41%
              </div>
            </div>
            <div class="list-group-item">
              <div class="list-group-item-heading">
                <h4>% women</h4>
              </div>
              <div class="list-group-item-text">
                24%
              </div>
            </div>
            <div class="list-group-item">
              <div class="list-group-item-heading">
                <h4>Has nondiscrimination policy<br></h4>
                that includes sexual orientation?
              </div>
              <div class="list-group-item-text">
                Yes
              </div>
            </div>
            <div class="list-group-item">
              <div class="list-group-item-heading">
                <h4>Offers domestic partner benefits<</h4>br>
                for same-sex couples?
              </div>
              <div class="list-group-item-text">
                Yes
              </div>
            </div>
          </div>
          <div class="well">
            <div class="list-group">
              <h2>Professional training</h2>
            </div>
            <div class="list-group-item">
              <div class="list-group-item-heading">
                <h4>Salaried employees (hrs./yr.):</h4>
              </div>
              <div class="list-group-item-text">
                35
              </div>
            </div>
            <div class="list-group-item">
              <div class="list-group-item-heading">
                <h4>Hourly employees (hrs./yr.):</h4>
              </div>
              <div class="list-group-item-text">
                N.A.
              </div>
            </div>
          </div>
          <div id="issueDate">
            From the Feb. 4, 2013 issue
          </div>
          <div id="magFeatFootnoteBox">
            <div class="magFeatFootnote">
              <strong>Notes:</strong><br>
              N.A.: Not available. U.S. employees includes part-timers as of time of survey. Job growth, new jobs, and voluntary turnover are full-time only. Revenues are for 2011 or latest fiscal
              year. All data are from July 2012 and based on U.S. employees.<br>
              * Average annual pay: yearly pay rate plus additional cash compensation for the largest classification of full-time salaried and hourly employees.<br><br>
</div>
          </div>
        </div>
        
      </div>
      <div class="cnnCol_side">
        
        <div id="adsquare">
          
        </div>
        <div class="content_box simply_hired"></div>
        <div id="perkfinder">
          <div class="boxHeading">
            Perkfinder
          </div>
          <div id="perkfBox">
            <a href="/magazines/fortune/best-companies/2013/perkfinder/index.html"><img src="/assets/i.cdn.turner.com/money/.element/img/1.0/sections/mag/fortune/bestcompanies/2013/perk_finder_right_rail.jpg" alt="Perk-Finder" width="280" height="160" border="0"></a>
          </div>
          <div class="perkfBoxTxt">
            <a href="/magazines/fortune/best-companies/2013/perkfinder/index.html" class="sideBarMore">Find my top perks</a>
          </div>
        </div>
        <div id="methodologyBox">
          <div class="boxHeading">
            <a href="/magazines/fortune/best-companies/2013/faq/index.html">How we pick the 100 Best</a>
          </div>
          <div class="boxTxt">
            To pick the 100 Best Companies to Work For, <em>Fortune</em> partners with the Great Place to Work Institute to conduct the most extensive employee survey in corporate America; 280 firms
            participated in this year's survey. <a href="/magazines/fortune/best-companies/2013/faq/index.html">More</a><br>
</div>
        </div>
        <div id="quigo300">
          
        </div>
      <script type="text/javascript">
  document.write('<script type="text\/javascript">adFactory.getAd(300, 250).write();<\/script>');
</script>

</div>
      <div class="clearFloat"></div>
    </div>
    
  <!-- Footer ( currently static ) -->

<footer id="colophon" class="archive" role="contentinfo">

	<div class="full-width-element-wrapper">

		<div class="places">
			<a href="http://fortunedotcom.wordpress.com/fortune500">Fortune 500</a>
			<a href="http://fortunedotcom.wordpress.com/rankings">Rankings</a>
			<a href="http://fortunedotcom.wordpress.com/management">Management</a>
			<a href="http://fortunedotcom.wordpress.com/tech">Technology</a>
			<a href="http://fortunedotcom.wordpress.com/markets">Markets</a>
			<a href="http://fortunedotcom.wordpress.com/finance">Finance</a>
			<a href="http://fortunedotcom.wordpress.com/energy">Energy</a>
			<a href="http://fortunedotcom.wordpress.com/retail">Retail</a>
			<a href="http://fortunedotcom.wordpress.com/autos">Autos</a>
			<a href="http://fortunedotcom.wordpress.com/careers">Careers</a>
			<a href="http://fortunedotcom.wordpress.com/international">International</a>
			<a href="http://fortunedotcom.wordpress.com/features">Features</a>
			<a href="http://fortunedotcom.wordpress.com/small-business">Small Business</a>
			<a href="http://fortunedotcom.wordpress.com/magazine">Magazine</a>
			<a href="http://www.fortuneconferences.com/">Fortune Conferences</a>
		</div>

		<div class="footer-right">
			<a href="https://subscription.fortune.com/storefront/subscribe-to-fortune/site/fo-nb3term1010.html?link=1002995&fpa_oc=SEM" class="footer-subscribe">subscribe</a>
			<ul class="footer-social">
				<li class="icon icon-linkedin"><a href="https://www.linkedin.com/company/fortune-magazine"></a></li>
				<li class="icon icon-gplus"><a href="https://plus.google.com/+fortune"></a></li>
				<li class="icon icon-facebook"><a href="https://www.facebook.com/FortuneMagazine"></a></li>
				<li class="icon icon-twitter"><a href="https://twitter.com/FortuneMagazine"></a></li>
				<li class="icon icon-mail"><a href="mailto:feedback@fortune.com"></a></li>
			</ul>
			<div class="copyright">
				<p>&copy; Time Inc. All rights reserved.</p>
				<p>Fortune.com is a part of the Time.com network of sites.</p>
			</div>
		</div>

		<div class="footer-static-content">
			<a href="http://fortunedotcom.wordpress.com/sitemap">Site Map</a>
			<a href="https://subscription.timeinc.com/storefront/privacy/fortune/generic_privacy_new.html?dnp-source=G">Privacy</a>
			<a href="https://subscription.timeinc.com/storefront/privacy/fortune/generic_privacy_new.html?dnp-source=H#california">California Privacy Rights</a>
			<a href="https://subscription.timeinc.com/storefront/privacy/fortune/privacy_terms_service.html">Terms of Use</a>
			<a href="b(http://www.fortunemediakit.com/">Media Kit</a>
			<a href="http://fortunedotcom.wordpress.com/advertising/">Advertising</a>
			<a href="http://www.timeincreprints.com/">Reprints and Permissions</a>
			
			<a href="#">Help</a>
			<a href="#">Customer Service</a>
		</div>

		<div class="copyright mobile">
			<p>&copy; Time Inc. All rights reserved.</p>
			<p>Fortune.com is a part of the Time.com network of sites.</p>
		</div>

	</div>

</footer>

<!-- end footer -->

<!-- scripts loaded after footer, in case you need them -->

<script type='text/javascript' src='http://fortunedotcom.wordpress.com/wp-includes/js/jquery/ui/jquery.ui.core.min.js?ver=1.10.3'></script>
<script type='text/javascript' src='http://fortunedotcom.wordpress.com/wp-includes/js/jquery/ui/jquery.ui.effect.min.js?ver=1.10.3'></script>
<script type='text/javascript' src='http://fortunedotcom.wordpress.com/wp-includes/js/jquery/ui/jquery.ui.widget.min.js?ver=1.10.3'></script>
<script type='text/javascript' src='http://fortunedotcom.wordpress.com/wp-includes/js/jquery/ui/jquery.ui.position.min.js?ver=1.10.3'></script>
<script type='text/javascript' src='http://fortunedotcom.wordpress.com/wp-includes/js/jquery/ui/jquery.ui.menu.min.js?ver=1.10.3'></script>
<script type='text/javascript' src='http://fortunedotcom.wordpress.com/wp-includes/js/jquery/ui/jquery.ui.autocomplete.min.js?ver=1.10.3'></script>
<script type="text/javascript" src="/assets/fortune/vendor.js"></script>
<script type="text/javascript" src="/assets/fortune/app.js"></script>
<script type="text/javascript" src="/assets/fortune/templates.js"></script>
<script type='text/javascript'>
/* Bootstrapped data should be placed here to avoid unnecessarily having to make extra HTTP requests on page load. */
jQuery(document).ready(function($) {
	Fortune.bootstrap = {}
	/*
		On document ready, start the app
	*/
	Fortune.start();

});
</script>

<script type="text/javascript">var s_account = "timefortunecom";</script>
<script src="http://img.timeinc.net/tii/omniture/h/config/fortune_s_code.js"></script>
<!-- end footer loads --><script type="text/javascript">s_time.prop12 = "bestcos_2013";</script><script type="text/javascript">s_time.pageName = "fortune|archive|Intel Corporation - Best Companies to Work For 2013 - Fortune"; var s_code=s_time.t(); if (s_code){document.write(s_code);}</script>
</body>
</html>
