<% provide(:title, 'Introduction') %>

<div class="page-header">
<h1>The 5 A's For Blood Pressure <medium>|</medium> <small>Introduction</small></h1>
</div>
<div class="container">
<div class="col-md-2"></div>
   <div class="col-md-8">
     <div class="well well-sm">
         <div class="embed-responsive embed-responsive-16by9">
             <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/V6FjEAhzg5w" AllowFullScreen></iframe>
         </div>
     </div>
	   <div class="panel panel-default">
	     <div class="panel-heading">
	       <h1 class="panel-title">Instructions</h1>
	     </div>
	     <div class="panel-body">
	       Congratulations! You have just taken a another step toward maximizing the care you provide to your patients and helping them improve their overall health. The purpose of this training is to offer ways to better communicate blood pressure treatment goals with your patients using the 5As framework. Follow these steps to successfully complete the survey.
	     </div>

	      <!-- List group -->
			  <ul class="list-group">
			    <li class="list-group-item">Step 1: If you have already created an account and are signed in, navigate to the home page by clicking on the home button in the top left corner after having read these instructions. The home page shows the status of your progression through the survey.</li>
			    <li class="list-group-item">Step 2: Click the drop-down "Modules" menu and navigate to Module 1. Watch "Ask/Assess 1" and "Ask/Assess 2" in order, then answer the question provided on the "Post Skit Feedback" page. Read the explanation after answering.</li>
			    <li class="list-group-item">Step 3: Repeat Step 2 for each of the remaining 4 modules.</li>
			    <li class="list-group-item">Step 4: After completing each of the 5 modules, the "Final Feedback" survey will be clickable. Answer each of the five multiple choice questions to complete the survey.</li>
			  </ul>
	   </div>
   </div>
<div class="col-md-2"></div>
</div>