<% provide(:title, "Module 1") %>
<h1>Module 1</h1>

<div class="container">
	<div class="well">            
		<div class="row">
			<div class="col-sm-4">
				<div class="panel panel-default">
					<!-- Default panel contents -->
					<div class="panel-heading"><h4>Dialog</h4></div>
					<ul class="list-group">
						<li class="list-group-item">Doc: Good morning, Janice. How are you?</li>
						<li class="list-group-item list-group-item-info">Pt: I am good.</li>
						<li class="list-group-item">Doc: What brings you into today?</li>
						<li class="list-group-item list-group-item-info">Pt: My knee is still bothering me…</li>
						<li class="list-group-item">Doc: OK. We will get to that. First, I want to tell you that your blood pressure is kind of high today.</li>
						<li class="list-group-item list-group-item-info">Pt: I didn't take my medication I was rushing this morning.</li>
						<li class="list-group-item">Doc: I want to let you know that it is important to take your blood pressure medication first thing the morning.</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="//www.youtube.com/embed/2Vb8dg_un-A"></iframe>
				</div>
			</div>
		</div>
	</div>
</div>