<% provide(:title, "Module 5") %>
<ul class="nav nav-pills nav-default">
	<li><h1>Module 5</h1></li>
	<li class="active"><a href="/module5">Arrange #1</a></li>
	<li><a href="/module5_2">Arrange #2</a></li>
	<li><a href="/module5_fb">Post Skit Feedback</a></li>
	<li><a href="/module5_ex">Explanation</a></li>
</ul>

<div class="container">
	<div class="well">            
		<div class="row">
			<div class="col-sm-4">
				<div class="panel panel-default">
					<!-- Default panel contents -->
					<div class="panel-heading"><h4>Dialog</h4></div>
					<ul class="list-group">
						<li class="list-group-item">Doc: So Janice, I think you have a pretty good idea what to do. I want you to take you pills every day. Cut down on your salt and start walking. I want to see you back in a month.</li>
						<li class="list-group-item list-group-item-info">Pt: OK.</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="//www.youtube.com/embed/ZJj6G6jUcxw" AllowFullScreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>