<% provide(:title, "Module 3") %>
<ul class="nav nav-pills nav-default">
  <li><h1>Module 3</h1></li>
  <li><a href="/module1">Agree #1</a></li>
  <li class="active"><a href="/module3_2">Agree #2</a></li>
  <li><a href="/module3_fb">Post Skit Feedback</a></li>
  <li><a href="/module3_ex">Explanation</a></li>
</ul>

<div class="container">
  <div class="well">
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading"><h4>Dialog</h4></div>
          <ul class="list-group">
            <li class="list-group-item">Doc: OK. We’ve talked about how lowering your blood pressure helps keep you healthy. Are you willing to commit to getting your numbers under control?</li>
            <li class="list-group-item list-group-item-info">Pt: I am. I was just rushing this morning…..</li>
            <li class="list-group-item">Doc: I understand. It is hard  to remember things when we are in a rush, and I know establishing healthy routines definitely takes time. I’d like to suggest we meet every month until you reach your goal. It usually takes about 2-3 visits. What do you think?</li>
            <li class="list-group-item list-group-item-info">Pt:  You know I don’t like coming to the doctor so much, but I'll try.</li>
            <li class="list-group-item">Doc: Excellent, that's great, and I appreciate that Janice.  I am glad that we can work on this together, because  I see your blood pressure has been high for the last couple visits but I definitely think we can make some improvement by working together. I recommend we add another medication to be safe. We can talk about stopping it  later as you start cut back on your salt and start walking every day. Is it okay with you that we add another medication today?</li>
            <li class="list-group-item list-group-item-info">Pt: If you really think so...</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="well well-sm">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/2Vb8dg_un-A" AllowFullScreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

