<% provide(:title, "Module 1 Ask/Assess 2") %>

<ul class="nav nav-pills nav-default">
	<li><h1>Module 1</h1></li>
	<li><a href="/module1">Ask/Assess #1</a></li>
	<li class="active"><a href="/module1_2">Ask/Assess #2</a></li>
	<li><a href="/module1_fb">Post Skit Feedback</a></li>
	<li><a href="/module1_ex">Explanation</a></li>
</ul>

<div class="container">
	<div class="well">            
		<div class="row">
			<div class="col-sm-4">
				<div class="panel panel-default">
					<!-- Default panel contents -->
					<div class="panel-heading"><h4>Dialog</h4></div>
					<ul class="list-group">
						<li class="list-group-item">Doc: Good morning, Janice. How are you?</li>
						<li class="list-group-item list-group-item-info">Pt: I am good.</li>
						<li class="list-group-item">Doc: I see you are here for your knee. Is that right?</li>
						<li class="list-group-item list-group-item-info">Pt: Yes.</li>
						<li class="list-group-item">Doc: Ok, is there anything else that you would like to discuss today?</li>
						<li class="list-group-item list-group-item-info">Pt: Just something for the pain.</li>
						<li class="list-group-item">Doc: Ok. I’d like to ask if it is okay that we talk about your blood pressure today. Would that be alright? You are definitely here for your knee, but could you tell me whether you are at your goal today?</li>
						<li class="list-group-item list-group-item-info">Pt: I know it is high, but I'm not sure what my goal should be.</li>
						<li class="list-group-item">Doc: Okay</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="well well-sm">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="//www.youtube.com/embed/jKXvA_gq3Rc" AllowFullScreen></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>