<% provide(:title, "Module 1 Post Skit Feedback") %>

<ul class="nav nav-pills nav-default">
	<li><h1>Module 1</h1></li>
	<li><a href="/module1">Ask/Assess #1</a></li>
	<li><a href="/module1_2">Ask/Assess #2</a></li>
	<li class="active"><a href="/module1_fb">Post Skit Feedback</a></li>
	<li><a href="/module1_ex">Explanation</a></li>
</ul>

<form role="form">
	<div class="form-group">
		<div class="panel panel-info">
			<div class="panel-body">
				<h3>Which video better illustrates “Ask”? Why. Briefly write down your answer.</h3>
			</div>
		</div>
		<textarea class="form-control"rows="5"></textarea>
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>