<% provide(:title, "Module 3") %>
<ul class="nav nav-pills nav-default">
  <li><h1>Module 3</h1></li>
  <li class="active"><a href="/module1">Agree #1</a></li>
  <li><a href="/module3_2">Agree #2</a></li>
  <li><a href="/module3_fb">Post Skit Feedback</a></li>
  <li><a href="/module3_ex">Explanation</a></li>
</ul>

<div class="container">
  <div class="well">
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading"><h4>Dialog</h4></div>
          <ul class="list-group">
            <li class="list-group-item">Janice, we talked about your goal. I’d like to talk about a plan for you to reach your goal.</li>
            <li class="list-group-item list-group-item-info">Pt: OK.</li>
            <li class="list-group-item">Doc: First, you need to take your medication consistently in the morning. It is really important for you to remember to do that. Some people put their pills either in the kitchen or the bathroom, wherever you can to remember to take them in the morning. Second, you need to reduce your salt. For a lot of people, this means cutting out fried food. The third thing is to become more physically active.  What I am going to do today is increase your blood pressure medication and I'd like to see you back in a month until hopefully your blood pressure is controlled.</li>
            <li class="list-group-item list-group-item-info">Pt: Okay.</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="well well-sm">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/c3fDbcxCWUs" AllowFullScreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


