<% provide(:title, "Module 4") %>
<ul class="nav nav-pills nav-default">
  <li><h1>Module 4</h1></li>
  <li class="active"><a href="/module1">Assist #1</a></li>
  <li><a href="/module4_2">Assist #2</a></li>
  <li><a href="/module4_fb">Post Skit Feedback</a></li>
  <li><a href="/module4_ex">Explanation</a></li>
</ul>
<div class="container">
	<div class="well">            
		<div class="row">
			<div class="col-sm-4">
				<div class="panel panel-default">
					<!-- Default panel contents -->
					<div class="panel-heading"><h4>Dialog</h4></div>
					<ul class="list-group">
						<li class="list-group-item">Doc: It sounds like you have a pretty good handle on what will improve your blood pressure. Can we talk about a plan for making that happen?</li>
						<li class="list-group-item list-group-item-info">Pt: Okay.</li>
						<li class="list-group-item">Doc: Lets start with taking your taking medication. I know that patients miss medication for lots of reasons beyond forgetting. Some of my patients tell me they are worried about side effects or becoming dependent on the medication. For others it is costs. Do some of these reasons apply to you?</li>
						<li class="list-group-item list-group-item-info">Pt: Sometimes I just forget. But honestly, I just don't like the though of taking a pill everyday. It isn’t natural. I worry about what it is doing to my body.</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="//www.youtube.com/embed/2Vb8dg_un-A"></iframe>
				</div>
			</div>
		</div>
	</div>
</div>