<% provide(:title, "Module 4") %>
<ul class="nav nav-pills nav-default">
	<li><h1>Module 4</h1></li>
	<li><a href="/module4">Assist #1</a></li>
	<li><a href="/module4_2">Assist #2</a></li>
	<li class="active"><a href="/module4_fb">Post Skit Feedback</a></li>
	<li><a href="/module4_ex">Explanation</a></li>
</ul>

<form role="form">
	<div class="form-group">
		<div class="panel panel-info">
			<div class="panel-body">
				<h3>Which video better illustrates “Assist”? Briefly write down your answer.</h3>
			</div>
		</div>
		<textarea class="form-control"rows="5"></textarea>
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>