<% provide(:title, "Module 5 Explanation") %>

<ul class="nav nav-pills nav-default">
	<li><h1>Module 5</h1></li>
	<li><a href="/module5">Arrange #1</a></li>
	<li><a href="/module5_2">Arrange #2</a></li>
	<li><a href="/module5_fb">Post Skit Feedback</a></li>
	<li class="active"><a href="/module5_ex">Explanation</a></li>
</ul>

<%= render 'shared/explanation' %>