<% provide(:title, "Module 2") %>

<ul class="nav nav-pills nav-default">
	<li><h1>Module 2</h1></li>
	<li><a href="/module2">Advise #1</a></li>
	<li><a href="/module2_2">Advice #2</a></li>
	<li><a href="/module2_fb">Post Skit Feedback</a></li>
	<li class="active"><a href="/module2_ex">Explanation</a></li>
</ul>

<%= render 'shared/explanation' %>