<% provide(:title, "Module 2") %>
<ul class="nav nav-pills nav-default">
  <li><h1>Module 2</h1></li>
  <li><a href="/module1">Advise #1</a></li>
  <li class="active"><a href="/module2_2">Advise #2</a></li>
  <li><a href="/module2_fb">Post Skit Feedback</a></li>
  <li><a href="/module2_ex">Explanation</a></li>
</ul>

<div class="container">
	<div class="well">            
		<div class="row">
			<div class="col-sm-4">
				<div class="panel panel-default">
					<!-- Default panel contents -->
					<div class="panel-heading"><h4>Dialog</h4></div>
					<ul class="list-group">
						<li class="list-group-item">Doc: Janice, as we talked about this before, your blood pressure is really high today. We’ve talked a lot about it in the past, but to recap it, it is very important to keep your blood pressure under control to prevent your risk for heart attacks and strokes. I want you to do all that you can to take your blood pressure every morning, especially to remember to take it when you wake up.</li>
						<li class="list-group-item list-group-item-info">Pt: I was rushing this morning and will take my pills when I get home….</li>
						<li class="list-group-item">Doc: Its much better to take them first thing in the morning no matter how rushed you are. As I said,  high blood pressure increases your risk for heart attacks and stroke..</li>
						<li class="list-group-item list-group-item-info">Pt: I know….</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="//www.youtube.com/embed/qqUNyC660bc" AllowFullScreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>
