<% provide(:title, "Module 3 Explanation") %>

<ul class="nav nav-pills nav-default">
	<li><h1>Module 3</h1></li>
	<li><a href="/module3">Agree #1</a></li>
	<li><a href="/module3_2">Agree #2</a></li>
	<li><a href="/module3_fb">Post Skit Feedback</a></li>
	<li class="active"><a href="/module3_ex">Explanation</a></li>
</ul>

<%= render 'shared/explanation' %>