<% provide(:title, "Module 5") %>
<ul class="nav nav-pills nav-default">
	<li><h1>Module 5</h1></li>
	<li><a href="/module5">Arrange #1</a></li>
	<li class="active"><a href="/module5_2">Arrange #2</a></li>
	<li><a href="/module5_fb">Post Skit Feedback</a></li>
	<li><a href="/module5_ex">Explanation</a></li>
</ul>

<div class="container">
	<div class="well">            
		<div class="row">
			<div class="col-sm-4">
				<div class="panel panel-default">
					<!-- Default panel contents -->
					<div class="panel-heading"><h4>Dialog</h4></div>
					<ul class="list-group">
						<li class="list-group-item">Doc: We’ve covered a lot. Lets quickly review. Whats your goal?</li>
						<li class="list-group-item list-group-item-info">Pt: Less than 140/90.</li>
						<li class="list-group-item">Doc: Wonderful! That's right. What are going to do differently?</li>
						<li class="list-group-item list-group-item-info">Pt: I am going to exercise at least 10 minutes a day, I'm going to cut back on salt, and I'm going to read food labels.</li>
						<li class="list-group-item">Doc: That's great, and I am so happy that you plan to make those change. We also talked about meeting more frequently until you reach your goal. Do you remember how often?</li>
						<li class="list-group-item list-group-item-info">Pt: At least once a month.</li>
						<li class="list-group-item">Doc: Fantastic! So you are still on board with all of this?</li>
						<li class="list-group-item list-group-item-info">Pt: Yes.</li>
						<li class="list-group-item">Doc: Great! I look forward to seeing you back in four weeks for your next visit.</li>

					</ul>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="//www.youtube.com/embed/2Vb8dg_un-A"></iframe>
				</div>
			</div>
		</div>
	</div>
</div>