<% provide(:title, "Module 4") %>
<ul class="nav nav-pills nav-default">
  <li><h1>Module 4</h1></li>
  <li><a href="/module1">Assist #1</a></li>
  <li class="active"><a href="/module4_2">Assist #2</a></li>
  <li><a href="/module4_fb">Post Skit Feedback</a></li>
  <li><a href="/module4_ex">Explanation</a></li>
</ul>
<div class="container">
	<div class="well">            
		<div class="row">
			<div class="col-sm-4">
				<div class="panel panel-default">
					<!-- Default panel contents -->
					<div class="panel-heading"><h4>Dialog</h4></div>
					<ul class="list-group">
						<li class="list-group-item">Doc:  I want to help your reach goal for your blood pressure, so I am going to give you some suggestions. First, I think you should put pills on the counter or by the sink in the bathroom. A lot of my patients do that, and they say it helps them to remember to take their medicines every day. The second thing that I want you to do is to read labels when you shop so you can keep track of the salt and other things that could be making your blood presure high. Here's a brochure that can help you read labels. The third thing that I want you to do is to start walking for a half hour every day. That will help make a difference in lowering your blood pressure. I am also going to increase the dosage of your blood pressure medication today. That's what I will recommend today.</li>
						<li class="list-group-item list-group-item-info">Pt: Do you have to?</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="//www.youtube.com/embed/2Vb8dg_un-A"></iframe>
				</div>
			</div>
		</div>
	</div>
</div>