<% provide(:title, "Module 4 Explanation") %>

<ul class="nav nav-pills nav-default">
	<li><h1>Module 4</h1></li>
	<li><a href="/module4">Assist #1</a></li>
	<li><a href="/module4_2">Assist #2</a></li>
	<li><a href="/module4_fb">Post Skit Feedback</a></li>
	<li class="active"><a href="/module4_ex">Explanation</a></li>
</ul>

<%= render 'shared/explanation' %>