<% provide(:title, "Module 2") %>
<ul class="nav nav-pills nav-default">
  <li><h1>Module 2</h1></li>
  <li class="active"><a href="/module1">Advise #1</a></li>
  <li><a href="/module2_2">Advise #2</a></li>
  <li><a href="/module2_fb">Post Skit Feedback</a></li>
  <li><a href="/module2_ex">Explanation</a></li>
</ul>

<div class="container">
	<div class="well">            
		<div class="row">
			<div class="col-sm-4">
				<div class="panel panel-default">
					<!-- Default panel contents -->
					<div class="panel-heading"><h4>Dialog</h4></div>
					<ul class="list-group">
						<li class="list-group-item">Doc: We do want you to keep the top number under 140 and the bottom number under 90. We will work together to reach that goal. What would help you reach your target numbers?</li>
						<li class="list-group-item list-group-item-info">Pt: Maybe writing them  down.</li>
						<li class="list-group-item">Doc: Excellent! I have this folder for your wallet that you can use to remember your goal and keep track of your numbers. Do you remember why blood pressure control is important?</li>
						<li class="list-group-item list-group-item-info">Pt: To prevent strokes and heart attacks.</li>
						<li class="list-group-item">Doc: Absolutely. You know your facts…</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="//www.youtube.com/embed/Eub5UNfaaiU" AllowFullScreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>
