<% provide(:title, "Module 1 Explanation") %>

<ul class="nav nav-pills nav-default">
	<li><h1>Module 1</h1></li>
	<li><a href="/module1">Ask/Assess #1</a></li>
	<li><a href="/module1_2">Ask/Assess #2</a></li>
	<li><a href="/module1_fb">Post Skit Feedback</a></li>
	<li class="active"><a href="/module1_ex">Explanation</a></li>
</ul>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Explanation</h3>
  </div>
  <div class="panel-body">
  	<h5>
    In the second video, the doctor asked two several important questions. First, he asked if there was something else. This helps get all the issues on the agenda. Second, he asked the patient for permission to address the blood pressure first. Last, he asked if she understood her goal.
</h5>
  </div>
</div>