<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Explanation</h3>
  </div>
  <div class="panel-body">
  	<h5>
      <%= render :text => @text %>
    </h5>
  </div>
</div>