<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Thank you for completing the, <%= @user.name %></h3>
    <p>
      You have successfully finished
    </p>
    <p>
      Your results are as follows: 
      <%= @user.answers %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>