@import "bootstrap-sprockets";
@import "bootstrap";

html,body {
	height: 100%;
  font-family: 'Avant Garde', sans-serif;
}

h3, .h3 {
  margin-top: 15px;
  margin-bottom: 15px; 
}

h4 {
  margin-bottom: 10px;
}

body {
  padding-top: 60px;
}


.navbar-brand {
  float: left;
  padding: 0px 15px;
  font-size: 0px;
  line-height: 0px;
  height: 0px; 
}

.nav-pills {
	margin-top: 20px;
	margin-bottom: 20px;
	h1 {
		margin-right: 20px;
		margin-top: 0;
		margin-bottom: 0;
	}

}

.well {
	background-color: #FFF;
}

.well-sm {
	background-color: #f5f5f5;
}

.panel-body {
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0px;
}

footer {
    position: fixed;
    bottom: -20px;
    width: 100%;
}