@import "bootstrap-sprockets";
@import "bootstrap";

html,body {
	height: 100%;
  font-family: 'Avant Garde', sans-serif;
}

h3, .h3 {
  margin-top: 15px;
  margin-bottom: 15px; 
}

h4 {
  margin-bottom: 10px;
}

body {
  padding-top: 60px;
}

// Everything set to 0 so the UofR brand can fit
.navbar-brand {
  float: left;
  padding: 0px 15px;
  font-size: 0px;
  line-height: 0px;
  height: 0px; 
}

.nav-pills {
	margin-top: 20px;
	margin-bottom: 20px;
	h1 {
		margin-right: 20px;
		margin-top: 0;
		margin-bottom: 0;
	}

}

.well {
	background-color: #FFF;
}

.well-sm {
	background-color: #f5f5f5;
}

.panel-body {
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0px;
}

.jumbotron {
  font-family: 'Avant Garde', sans-serif;
}

.modal-body {
  font-family: 'Roboto', sans-serif;
  .form-group{ font-family: 'Open Sans', sans-serif;}
}

.modal-header {
  font-family: 'Cabin', sans-serif
}

p {
  width: 175px;
  word-wrap: break-word;
}