<!-- <footer class="footer">
  <div class="container-fluid">


    <a href="http://www.urmc.rochester.edu/family-medicine/">University of Rochester Family Medicine</a>

    <%= link_to "About",   about_path %>
    <%= link_to "Contact", contact_path %>
    <a href="http://news.railstutorial.org/">News</a>

  </div>
</footer> -->

<footer class="footer">
   <!-- <ul class="nav navbar-nav">
    <li><a href="http://www.urmc.rochester.edu/family-medicine/">University of Rochester Family Medicine</a></li>
    <li><%= link_to "Test", test_path %></li>
    <li><%= link_to "About", about_path %></li>
  </ul> -->
  <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    <li class="active">Data</li>
  </ol>
</footer>

