            
          </ul>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="well well-sm">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/2Vb8dg_un-A" AllowFullScreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>